# Ignore virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
.Rproj.user

# RStudio stuff
PSSAI.Rproj
.Rhistory