# Ignore virtual environment
venv/

# Byte-compiled files
__pycache__/
*.pyc
*.pyo

# Editor settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
.Rproj.user

# RStudio stuff
PSSAI.Rproj
.Rhistory
.RData

ihtc2024_test_dataset
ihtc2024_competition_instances
ihtc2024_test_solutions
Solver_2.py
output/plots/*
plotResults.py
